#messagesContainer {
    max-height: 320px;
    height: 320px;
    overflow-y: scroll;
}

.chat-message:nth-child(even) {
    background-color: rgba(235, 231, 231, 0.35)
}

.hidden {
    display: none;
}

button,
input[type="button"],
input[type="submit"] {
    cursor: pointer;
}
.lobby {
    background-image: url("../images/taustakuva.png");
}
.jumbotron {
    margin: 100px;
}
.card {
    background-color: white;
    width: 300px;
    justify-content: center;
    /*centers items on the line (the x-axis by default)*/
    align-items: center;
    /*centers items on the cross-axis (y by default)*/
    position: relative;
    display: flex;
}
#loginform {
    display:none;
}